<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="port"  value="2000" />
	</appSettings>
	<connectionStrings>
		<add name = "MainDb" connectionString="host=/tmp/mysql.sock;database=Talker;Protocol=unixsocket;user=root" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
